
 header{
    width: 100%;
    height: 95vh;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(de.jpg );
    background-size: cover;
    background-attachment: fixed;
    
} 
#jj li a{
    color:black;
    font-weight: 680;
    font-size: 13px;
    padding: 13px;
    line-height: 10px;
    margin-top: 12px;
    

}
#jj{
    margin-left: 30px;
}

#ll img{
margin-top: 150px;
}
.ii{
    margin-top: 100px;
    
}
#kk{
    width: 100%;
    top: 0px;
    position:fixed;
    z-index: 1;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: white;

    
}
#search{
    margin: 20px;
    width: 350px;
    height:30px;
}
#form sec a{
    color: black;
    margin-top: -5px;
    
    font-weight: 700;
    font-size:9px ;
}
#form sec img {
     margin-top: 10px;
     margin-left: 16px;
}
.deal {
    margin-top: 70px;
    margin-left: 30px;
}
.deal h2{
font-weight: 500;
}
#cards{
    margin-top: 50px;
    

}
/* footer part */

.sec1{
    padding: 0 10px ;
    padding-top: 30px;

}
.sec2{
    padding-top: 30px;
    
}
/* socials meadia links */
.social{
    padding-top: 30px;
}
.sec3{
    padding: 7px 8px;
}
.sec4{
    padding: 7px 8px;
}
.sec5{
    padding: 7px 8px;
}
.sec6{
    padding: 7px 8px;
}
#footer{
    padding-top: 50px;
    /* margin-left: 100px; */
    border-bottom: 1px solid rgba(0,0,0,0.2);
    
    background: whitesmoke;
    margin-bottom: 10px;
    
}

.return{
    margin-left: 110px;
    cursor: pointer;

}
.playstore1{
    margin-left: 80px;
    cursor: pointer;

}
.usefullinks{
    margin-left: 205px;
    cursor: pointer;

}

.gender {
 position: relative;
 left: 110px;
    
}
.gender li{
    list-style: none;
    cursor: pointer;
}
.gender h6{
  width: 10px;
  padding: 0px;
}
.usefullinks li{
    list-style: none;
    cursor: pointer;

    
}
.items li{
    font-size: 99px;

}
@media (max-width:415px){
    .gender {
        position: relative;
        left: 0px;
        font-size: 8px;
           
       }
        .gender h6{
            font-size: 8px;
    } 
       .usefullinks{
        margin-left: 30px;
        cursor: pointer;
        font-size: 8px;
    
    }
    .usefullinks h6{
        font-size: 8px;

    }
    .playstore1 h6{
        margin-left: -80px;
        font-size: 8px;
        cursor: pointer;
    
    }
    .sec1 img{
      position: relative;
      left: -80px;
      height: 15px;
      width: 30px;
        
    } 
    .sec2 img{
        position: relative;
        left: -80px;
        height: 15px;
        width: 30px;
          
      } 
      .sec3 img{
        position: relative;
        left: -80px;
        height: 8px;
        width: 18px;


          
      } 
      .sec4 img{
        position: relative;
        left: -80px;
        height: 8px;
        width: 18px;
    

          
      } 
      .sec5 img{
        position: relative;
        left: -80px;
        height: 8px;
        width: 18px;
    

          
      } 
      .sec6 img{
        position: relative;
        left: -130px;
        height: 8px;
        width: 18px;
    

          
      } 
     .social h9 {
       margin-left: -80px;
       font-size: 7px;
     }
      .sec3{
        padding: 2px 0px;
    }.sec4{
        padding: 2px 0px;
    }.sec5{
        padding: 2px 0px;
    }.sec6{
          padding: 2px 0px;
      }
      .return h6{
          margin-left: -125px;
          font-size: 8px;
      }
}


